.body {
    background-color: $darkGray0;
}



.hero {
background-color: $darkGray0;
min-height: 70vh;


    &__text {
        
        opacity: 1;
        color: white;
        text-align: center;



        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            line-height: 1.15;
            margin-top: 40vh;
            margin-bottom: .5rem;

        
            @include mdup {
                font-size: 7.5rem;
            }

            @include lgxldown {
                font-size: 4rem;
            }

            @include mddown {
                font-size: 2.5rem;
            }

            mark.blue {
                color:$blue;
                background: none;
            }
            

        }




        p {
            font-family: 'Poppins', sans-serif;
            color: $gray;
            font-weight: 200;
            line-height: 1.5;
            max-width: 50rem;
            margin: 0rem auto;
            

            mark.yellow {
                color:$yellow5;
                background: none;
            }



            @include mdup {
                font-size: 2rem;
            }

            @include lgxldown {
                font-size: 1.25rem;
            }

            
        
           
        }





        

        #companyTitle{
            color: $blue;
            font-weight: 400;
            margin: 0 auto;
            

            @include mdup {
                font-size: 2rem;
            }

            @include lgxldown {
                font-size: 1.25rem;
            }

            @include mddown {
                font-size: 1.25rem;
            }

        }





        ul {
            font-family: 'Poppins', sans-serif;
            list-style-type: none;
            font-weight: 300;
            line-height: 1.5;
            margin: 1rem auto 20rem;
            padding: 0;
        

            @include mdup {
                font-size: 2rem;
            }

            @include lgxldown {
                font-size: 1.25rem;
            }

            @include mddown {
                font-size: 1.25rem;
            }


          }
    
          

          li{
            margin-bottom: 1rem;
                
          }
    

          a {
            color: white;
            padding: 5px 20px;
            border-radius: 8px;

            
            
            
            &:hover {
                background-color: $darkGray;
            }
            
            
            &:active {
                background-color: $darkGray1;
            }


          }


 



        
       
    }
}