.body {
    background-color: $darkGray0;
}



    .projectpageheader2 {
        display: flex;
        background-color: $darkGray0;
        // margin-bottom: 8rem;


    
        &__text {
            font-family: 'Poppins', sans-serif;
            line-height: 1.5;
            color: white;
            margin: 0rem 1rem 5rem 2rem;
            // margin-top: 0rem;
            // margin-left: 2rem;
            // margin-right: 1rem;
            // margin-bottom: 3rem;

            // @include lgxldown {
            //     margin: 0rem 1rem 5rem 2rem;
            //     // margin-top: 10rem;
            //     // margin-left: 2rem;

            // }

    
            
    
    


            h1 {
                font-weight: 400;
                font-size: 3rem;
                line-height: 1.15;
                margin-bottom: .5rem;
                
        
                @include mdup {
                    font-size: 4rem;
                }
        
                @include lgxldown {
                    font-size: 3rem;
                    margin-top: 1rem;

                }
        
                @include mddown {
                    font-size: 2rem;

                }            
            }


            hr {
                transform: translateX(-2rem);
                margin-top: 0;
                margin-bottom: 0;
                width: 150%;

                @include mdup {
                    border: 9.86rem solid $blue;
                }
        
                @include lgxldown {
                    border: 7rem solid $blue;


                }
        
                @include mddown {
                    border: 5rem solid $blue;


                }    

              }
           

             
            h2 {
                font-weight: 400;
                margin-bottom: 2rem;
                line-height: 1.15;
                color: $white;
         
                @include mdup {
                    font-size: 1.25rem;
                }
        
                @include lgxldown {
                    font-size: 1.25rem;
                }
        
                @include mddown {
                    font-size: 1rem;
                }
               
            }
    
    
    
    
            p {
                font-weight: 300;
                line-height: 1.5;
                color: $white;
                margin-top: 1rem;
                margin-bottom: 2rem;
                

                @include mdup {
                    font-size: 1.25rem;
                    width: 60%;
                }

                @include lgxldown {
                    font-size: 1.25rem;
                    width: 80%;
                }

                @include mddown {
                    font-size: 1rem;
                    width: 85%;
                }
            }          
        }
        }   