


.projectpagebody {
    

    &__flex {

        display: flex;
        margin: 2rem;
        max-width: 1600px;
        background-color: $darkGray1;
        border-radius: 2px;
                
        @include xxxl {
            margin: 2rem auto;
        }

        @include lgdown {
            flex-wrap: wrap-reverse;
        }
            
    }






    &__flex2 {

        display: flex;
        margin-bottom: 0rem;
        flex-wrap: wrap;
        
    }







    #centeredsection{
    justify-content: center;
    background-color: $gray3;
    }


    #projectsubpage{
    justify-content: center;
     background-color: $gray3;
    }



   


    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-right: 1rem;

      
        .horizontalrow1 {
          display: inline-block;
          margin-top: 3rem;
        //   margin-left: 1rem;
          

        }
      }
    



      #h-image {
        height: 30rem;
        padding-right: 2rem;

    }



      .scrolling-wrapper2 {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 5rem;

      
        .horizontalrow2 {
          display: inline-block;
          margin-top: 3rem;
          margin-left: auto;
          margin-right: auto;


        }
      }



      #h-image2 {
        height: 30rem;
        padding-right: 2rem;
    }

      


    










// for images on home page

    // &__image {

    //     display: block;
    //     padding: 5rem 3rem;

    //     img {
    //         width: 40rem;
    //     }

    // }
   






// for images on project sub pages

    &__image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 5rem;



        @include lgdown {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0rem;
        }

    }







    &__text {
        font-family: 'Poppins', sans-serif;
        color: white;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: auto;
        margin-bottom: auto;

        @include lgxldown {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        h1 {
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.15;
        font-weight: 500;
        }

        h2 {
        font-weight: 200;
        margin-bottom: 2rem;
        font-size: 1.125rem;
        line-height: 1.15;
        color: white;
 
        }

        p {
        font-size: 1.125rem;
        font-weight: 200;
        line-height: 1.5;
        color: white;
        margin-top: 1rem;
        }
    }

    ul {
        font-size: 1.125rem;
        margin: 3rem 10rem;
        list-style-position: outside;


      }

      li{
        margin-bottom: 1rem;
      }


   &__title {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.15;
    margin-bottom: 1rem;

    @include lgdown {
        margin-top: 1rem;
    }

   }


   &__description { 
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    max-width: 65rem;
    color: $darkGray;
   }






   #topofsection{
       margin-top: 5rem;
   }

   #endofsection{
       margin-bottom: 5rem;
   }









   .Button {
        border-radius: 8px;
        box-shadow: 0px 0px 0px 2px $gray inset;
        cursor: pointer;
        color:$white;            
        display:inline-block;
        font-size: 1rem;
        padding:16px 32px;
        font-family: 'Poppins', sans-serif;

        
    }

    .Button:hover {
        background-color: $blue;
        box-shadow: 0px 0px 0px 2px $blue inset;
        color: $darkGray0;
        
    }

    .Button:active {
        background-color: $yellow4;
        box-shadow: 0px 0px 0px 2px $yellow4 inset;
        
    }







}


































