


.projectpagebody {

    
   


    &__flex {

        display: flex;
        margin: 2rem;
        max-width: 1600px;
        justify-content: space-between;
        // background-color: $darkGray;
        border-radius: 2px;
        box-shadow: 0px 0px 0px 4px $darkGray5;


        @include xxxl {
            margin: 2rem auto;
        }

        @include lgxldown {
            flex-wrap: wrap-reverse;
        }

        @include mddown {
            margin: 1rem;
        } 
    }




    &__flex2 {

        display: flex;
        margin-bottom: 0rem;
        flex-wrap: wrap;
        
    }






    #projectsubpage{
    justify-content: center;
     background-color: $gray3;
    }



   



    &__text {
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
        color: white;
        padding: 3% 0;
        margin-left: 3rem;
        margin-right: 4rem;
        margin-top: auto;
        margin-bottom: auto;
        // margin-top: min(3%);
        // margin-bottom: min(3%);
        max-width: 33%;
        

        @include lgxldown {
            margin: 1rem 2rem 2rem;
            padding: 0;
            max-width: 80%;
        }

        @include mddown {
            max-width: 100%;
            padding: 0;
            margin: 1rem 1.5rem 2rem;
            
        }


        h1 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.15;
        margin-bottom: .75rem;


        @include mdup {
            font-size: 2.5rem;
        }

        @include lgxldown {
            font-size: 2.5rem;
            
        }

        @include mddown {
            font-size: 1.5rem;
        }

        }

        h2 {
        font-weight: 300;
        line-height: 1.15;
        color: $gray;
        margin-bottom: 2rem;
        
 
        @include mdup {
            font-size: 1.25rem;
        }

        @include lgxldown {
            font-size: 1.25rem;
        }

        @include mddown {
            font-size: 1rem;
        }

        }

        p {
        font-weight: 300;
        line-height: 1.5;
        color: $gray;
        margin-top: 0rem;
        margin-bottom: 1rem;
        
        

        @include mdup {
            font-size: 1.25rem;
        }

        @include lgxldown {
            font-size: 1.25rem;
        }

        @include mddown {
            font-size: 1rem;
        }

        }
    

    ul {
        list-style-position: outside;
        padding-left: 1rem;
        font-weight: 200;
        line-height: 1.5;
        color: $gray;
        margin-top: 1rem;
        margin-bottom: 2rem;
        

        @include mdup {
            font-size: 1.25rem;
        }

        @include lgxldown {
            font-size: 1.25rem;
        }

        @include mddown {
            font-size: 1rem;
        }

      }

      li{
        margin-bottom: 1rem;
      }




    }



   #centeredsection{
       margin: 0rem auto 2rem;
       background-color: $darkGray0;
       justify-content: center;
       box-shadow: none;

    
       @include mdup {
        max-width: 70%;
        }

        @include lgxldown {
            max-width: 90%;
        }

        @include mddown {
            max-width: 95%;
        }
   }




 #topsection {
    background-color: $darkGray0;
    justify-content: center;
    margin: 5rem auto 2rem;
    box-shadow: none;
    
    @include mdup {
        max-width: 70%;
        }

        @include lgxldown {
            max-width: 90%;
        }

        @include mddown {
            max-width: 95%;
        }
   
    }




   #endofsection{
       margin-bottom: 5rem;
       box-shadow: none;
   }







.Button {
    border-radius: 8px;
    // box-shadow: 0px 0px 0px 2px $gray inset;
    box-shadow: 0px 0px 0px 2px $blue inset;
    margin-top: 2rem;
    cursor: pointer;
    // color:$gray;       
    color:$blue;            
    display:inline-block;
    padding:16px 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
    @include mdup {
        font-size: 1.25rem;
    }

    @include lgxldown {
        font-size: 1.25rem;
    }

    @include mddown {
        font-size: 1rem;
        // margin-bottom: 1rem;
    }
    
}

.Button:hover {
    background-color: $blue;
    box-shadow: 0px 0px 0px 2px $blue inset;
    color: $white;
    
}

.Button:active {
    background-color: $blue;
    box-shadow: 0px 0px 0px 2px $blue inset;
    
}


















.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .horizontalrow1 {
      display: inline-block;
    
      
      img{
        height: 85vh;
        margin-bottom: 0;
        padding-right: 2.5rem;
      }
      
    }


    @include mdup {
        margin: 0rem 0% 0rem 10%;
        }
    
        @include lgxldown {
        margin: 0rem 0% 0rem 5%;
        }
    
        @include mddown {
        margin: 0rem 0% 0rem 2%;
        }
  }
    

#pair{
    padding-right: .5rem;
}


     
  #centeredimage {
    background-color: $darkGray0;       
}




      #h-image {
        height: 30rem;
        padding-right: 2rem;

    }






      .scrolling-wrapper2 {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 5rem;

      
        .horizontalrow2 {
          display: inline-block;
          margin-top: 3rem;
          margin-left: auto;
          margin-right: auto;


        }
      }


      #h-image2 {
        height: 30rem;
        padding-right: 2rem;
    }

 





// for images on project page



&__image {
    display: block;
    padding: 3% 2%;
    margin-top: auto;
    margin-bottom: auto;    


    img {
        width: 100%;
    }

    @include lgxldown{
        margin-left: auto;
        margin-right: auto;
    
            img {
                width: 100%;
            
            }
        }


        video {
            width: 100%;
            height: auto;
            padding: 3% 2%;
            margin-top: auto;
            margin-bottom: auto;  
        
            @include lgxldown{
            margin-left: auto;
            margin-right: auto;
        
            }
            }



}


#twoCenteredimage{
    margin-left: auto;
    margin-right: auto;

    @include mdup {
        width: 50%;
        // width: 46.9%;
        }
    
        @include lgxldown {
            width: 70%;
        }
    
        @include mddown {
            width: 75%;
        }
}


#smallerImage{
    width: 45%;
}



#video{
    width: 45%;
    padding: 2% 2%;
    margin-left: 55%;

    @include lgxldown{
        margin-left: 30%;
        margin-right: auto;
    
        }
}



#iPad{
    width: 55%;

@include lgxldown {
    width: 85%;
    }

    @include mddown {
        width: 95%;
        }

}


// for images on project sub pages

    &__image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 5rem;



        @include lgdown {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0rem;
        }

    }





}


































